<h1><%= @user.name %></h1>
<% if @user.admin %>
<h1>ADMIN: <%= @user.admin %></h1>
<% else %>
<h1>Mood: <%= @user.mood %></h1>
<h1>Nausea: <%= @user.nausea %></h1>
<h1>Happiness: <%= @user.happiness %></h1>
<h1>Height: <%= @user.height %></h1>
<h1>Tickets: <%= @user.tickets %></h1>
<h1>ADMIN: <%= @user.admin %></h1>
<% end %>

<%= link_to 'See attractions', attractions_path %>
<%= link_to 'Log Out', '/logout' %>